<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BulliQ Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>BulliQ Dart Tracker</h1>
    </header>

    <main>
        <section class="stats">
            <h2>System Health</h2>
            <ul>
                <li>CPU Usage: {{ cpu }}%</li>
                <li>RAM Usage: {{ ram }}%</li>
                <li>Temp: {{ temp }} °C</li>
            </ul>
        </section>

       <section class="camera">
    <h2>Camera Feed</h2>

    <div class="video-wrapper">
        <img id="videoFeed" src="{{ url_for('camera.video_feed') }}" />
        <div id="checkoutOverlay" class="checkout-overlay">-</div>
    </div>
</section>
<button id="calibrateBtn">Calibrate</button>

    </main>

</body>
</html>